<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FilmMakerRgb - Formación Audiovisual</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <th:block th:replace="fragments/estilos :: estilos"/>
    <th:block th:replace="fragments/scripts :: scripts"/>

</head>

<body>

   <th:block layout:fragment="content" />
   <th:block th:replace="fragments/footer :: footer" />

</body>
</html>